In [2]:
#Install TensorFlow
!pip install -q tensorflow

import tensorflow as tf
print(tf.__version__)

2.3.0

In [9]:
# More imports
from tensorflow.keras.layers import Input, Dense, Embedding, Flatten, \
  Concatenate
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import SGD, Adam

from sklearn.utils import shuffle

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
user_df=pd.DataFrame(columns=['user_id','user_feat_1','user_feat_2','user_feat_3','user_feat_4'])
item_df=pd.DataFrame(columns=['item_id','item_feat_1','item_feat_2','item_feat_3','item_feat_4'])

In [4]:
user_df['user_id'] = range(1,1000)
item_df['item_id'] = range(1,1000)

In [5]:
user_df['user_feat_1'] = user_df['user_feat_1'].transform(lambda x: np.random.rand())
user_df['user_feat_2'] = user_df['user_feat_2'].transform(lambda x: np.random.rand())
user_df['user_feat_3'] = user_df['user_feat_3'].transform(lambda x: np.random.rand())
user_df['user_feat_4'] = user_df['user_feat_4'].transform(lambda x: np.random.rand())

item_df['item_feat_1'] = item_df['item_feat_1'].transform(lambda x: np.random.rand())
item_df['item_feat_2'] = item_df['item_feat_2'].transform(lambda x: np.random.rand())
item_df['item_feat_3'] = item_df['item_feat_3'].transform(lambda x: np.random.rand())
item_df['item_feat_4'] = item_df['item_feat_4'].transform(lambda x: np.random.rand())

In [6]:
user_df

     user_id  user_feat_1  user_feat_2  user_feat_3  user_feat_4
0          1     0.567626     0.525135     0.045177     0.156089
1          2     0.608580     0.583126     0.834631     0.046354
2          3     0.451128     0.571276     0.202015     0.556842
3          4     0.176144     0.863299     0.980011     0.604276
4          5     0.449130     0.109571     0.163132     0.548028
..       ...          ...          ...          ...          ...
994      995     0.065550     0.369906     0.356446     0.319044
995      996     0.679226     0.796834     0.925148     0.634815
996      997     0.793646     0.005114     0.823065     0.540165
997      998     0.081894     0.460325     0.799986     0.253103
998      999     0.078414     0.119953     0.651581     0.321123

[999 rows x 5 columns]

In [119]:
user_features = pd.DataFrame(columns=["features",'feature_id'])

In [128]:
user_df['feature_id_1'] = 1
user_df['feature_id_2'] = 2
user_df['feature_id_3'] = 3
user_df['feature_id_4'] = 4

In [129]:
user_features["features"] = pd.concat([user_df['user_feat_1'],user_df['user_feat_2'],user_df['user_feat_3'],user_df['user_feat_4']],axis=0,ignore_index=True)

user_features['feature_id']=pd.concat([user_df['feature_id_1'],user_df['feature_id_2'],user_df['feature_id_3'],user_df['feature_id_4']],axis=0,ignore_index=True)

In [130]:
user_features

      features  feature_id
0     0.567626           1
1     0.608580           1
2     0.451128           1
3     0.176144           1
4     0.449130           1
...        ...         ...
3991  0.319044           4
3992  0.634815           4
3993  0.540165           4
3994  0.253103           4
3995  0.321123           4

[3996 rows x 2 columns]

In [39]:
#user_df=pd.DataFrame(columns=['user_id','user_feat','rating'])
#item_df=pd.DataFrame(columns=['item_id','item_feat','rating'])

In [49]:
s = [ _ for _ in range(1,1000)]
t = [ _ for _ in range(1,1000)]
u = [ _ for _ in range(1,1000)]
v = [ _ for _ in range(1,1000)]

In [123]:
##user_df['user_id'] = pd.DataFrame(s)
#item_df['item_id'] = pd.DataFrame(s)

In [55]:
s = pd.DataFrame(s)
t = pd.DataFrame(t)
u = pd.DataFrame(u)
v = pd.DataFrame(v)

In [62]:
x['user_id'] = pd.concat([s,t,u,v])
#x.resetindex()
#x.drop("index")

In [65]:
y=pd.DataFrame()
y['user_id']=x['user_id']

3996

In [86]:
y['indexing']=range(0,3996)

In [100]:
y=y.set_index(keys=y['indexing'])

          user_id  indexing
indexing
0               1         0
1               2         1
2               3         2
3               4         3
4               5         4
...           ...       ...
3991          995      3991
3992          996      3992
3993          997      3993
3994          998      3994
3995          999      3995

[3996 rows x 2 columns]

In [109]:
user_df_edit = pd.DataFrame(columns = ['user_id','features','feature_id'])

In [131]:
user_df_edit['user_id']=y['user_id']
user_df_edit['features']=user_features['features']
user_df_edit['feature_id']=user_features['feature_id']

In [132]:
del user_df_edit.index.name

AttributeError: name

In [133]:
user_df_edit

      user_id  features  feature_id
0           1  0.567626           1
1           2  0.608580           1
2           3  0.451128           1
3           4  0.176144           1
4           5  0.449130           1
...       ...       ...         ...
3991      995  0.319044           4
3992      996  0.634815           4
3993      997  0.540165           4
3994      998  0.253103           4
3995      999  0.321123           4

[3996 rows x 3 columns]

In [137]:
user_df = user_df_edit.copy()

In [143]:
user_df = user_df[['user_id','feature_id','features']]

In [144]:
user_df

      user_id  feature_id  features
0           1           1  0.567626
1           2           1  0.608580
2           3           1  0.451128
3           4           1  0.176144
4           5           1  0.449130
...       ...         ...       ...
3991      995           4  0.319044
3992      996           4  0.634815
3993      997           4  0.540165
3994      998           4  0.253103
3995      999           4  0.321123

[3996 rows x 3 columns]

In [139]:
n_users = user_df.user_id.unique().shape[0]
n_items = user_df.feature_id.unique().shape[0]

In [145]:
data_matrix = np.zeros((n_users, n_items))
for line in user_df.itertuples():
    data_matrix[line[1]-1, line[2]-1] = line[3]

In [148]:
data_matrix

array([[0.56762602, 0.52513471, 0.04517696, 0.15608872],
       [0.6085799 , 0.58312583, 0.83463077, 0.04635363],
       [0.45112764, 0.57127635, 0.20201536, 0.55684248],
       ...,
       [0.79364616, 0.00511432, 0.82306488, 0.54016479],
       [0.08189404, 0.46032527, 0.79998635, 0.25310349],
       [0.07841393, 0.11995252, 0.65158077, 0.3211226 ]])

In [ ]:
#Data matrix looks like our original dataset, lets skip all the work above and just convert our original dataset into a numpy array

In [154]:
user_exp=pd.DataFrame(columns=['user_id','user_feat_1','user_feat_2','user_feat_3','user_feat_4'])

Empty DataFrame
Columns: [user_id, user_feat_1, user_feat_2, user_feat_3, user_feat_4]
Index: []

In [160]:
user_exp['user_id'] = range(1,1000)

user_exp['user_feat_1']

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
      ...
994    NaN
995    NaN
996    NaN
997    NaN
998    NaN
Name: user_feat_1, Length: 999, dtype: object

In [161]:
user_exp['user_feat_1'] = user_exp['user_feat_1'].transform(lambda x: np.random.rand())
user_exp['user_feat_2'] = user_exp['user_feat_2'].transform(lambda x: np.random.rand())
user_exp['user_feat_3'] = user_exp['user_feat_3'].transform(lambda x: np.random.rand())
user_exp['user_feat_4'] = user_exp['user_feat_4'].transform(lambda x: np.random.rand())

In [162]:
user_exp

     user_id  user_feat_1  user_feat_2  user_feat_3  user_feat_4
0          1     0.183264     0.950180     0.809237     0.364427
1          2     0.358757     0.189541     0.161427     0.623086
2          3     0.209819     0.289204     0.109696     0.460558
3          4     0.627828     0.131034     0.371763     0.963526
4          5     0.096661     0.658607     0.495488     0.321719
..       ...          ...          ...          ...          ...
994      995     0.849125     0.421835     0.289961     0.373634
995      996     0.661519     0.524612     0.395161     0.320900
996      997     0.805776     0.165377     0.704409     0.230490
997      998     0.673098     0.318379     0.071580     0.087562
998      999     0.240882     0.612255     0.508537     0.944819

[999 rows x 5 columns]

In [172]:
user_exp_feat = user_exp[['user_feat_1','user_feat_2','user_feat_3','user_feat_4']]

In [175]:
user_exp_array = user_exp_feat.to_numpy()

In [176]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')
item_similarity = pairwise_distances(data_matrix.T, metric='cosine')

In [178]:
def predict(features, similarity, type='user'):
    if type == 'user':
        mean_user_rating = features.mean(axis=1)
        #We use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (features - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = features.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [179]:
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [180]:
user_prediction

array([[0.22286165, 0.26597733, 0.41606605, 0.38912137],
       [0.47697345, 0.51627723, 0.42764471, 0.65179474],
       [0.42570335, 0.38922876, 0.56656519, 0.39976453],
       ...,
       [0.46879613, 0.67499301, 0.4656411 , 0.55255991],
       [0.47657085, 0.39792041, 0.2732348 , 0.44758309],
       [0.35107046, 0.36526508, 0.16310202, 0.29163227]])

In [182]:
pip install turicreate

Collecting turicreate
  Downloading https://files.pythonhosted.org/packages/50/59/400140a0c53ae7bf5790fad31b6c8be15debabfd8fc9531b17f86202551d/turicreate-6.3-cp37-cp37m-macosx_10_12_intel.macosx_10_12_x86_64.macosx_10_13_intel.macosx_10_13_x86_64.macosx_10_14_intel.macosx_10_14_x86_64.whl (33.1MB)
     |████████████████████████████████| 33.1MB 29.9MB/s
Collecting coremltools==3.3 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/96/70/a7abb33fe681dad7daef963160c90b3c1900146c7fa41035cc9df8bb6870/coremltools-3.3-cp37-none-macosx_10_15_intel.whl (3.5MB)
     |████████████████████████████████| 3.5MB 3.0MB/s
Requirement already satisfied: pandas>=0.23.2 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (0.25.1)
Collecting prettytable==0.7.2 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (1.17.2)
Requirement already satisfied: pillow>=5.2.0 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (6.2.0)
Requirement already satisfied: decorator>=4.0.9 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (4.4.0)
Requirement already satisfied: tensorflow>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (2.3.0)
Requirement already satisfied: requests>=2.9.1 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (2.22.0)
Requirement already satisfied: six>=1.10.0 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (1.12.0)
Collecting resampy==0.2.1 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/14/b6/66a06d85474190b50aee1a6c09cdc95bb405ac47338b27e9b21409da1760/resampy-0.2.1.tar.gz (322kB)
     |████████████████████████████████| 327kB 38.8MB/s
Requirement already satisfied: scipy>=1.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from turicreate) (1.4.1)
Requirement already satisfied: protobuf>=3.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from coremltools==3.3->turicreate) (3.11.3)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.2->turicreate) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.23.2->turicreate) (2.8.0)
Requirement already satisfied: absl-py>=0.7.0 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (0.9.0)
Requirement already satisfied: h5py<2.11.0,>=2.10.0 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (2.10.0)
Requirement already satisfied: tensorflow-estimator<2.4.0,>=2.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (2.3.0)
Requirement already satisfied: wrapt>=1.11.1 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (1.11.2)
Requirement already satisfied: gast==0.3.3 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (0.3.3)
Requirement already satisfied: grpcio>=1.8.6 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (1.31.0)
Requirement already satisfied: wheel>=0.26 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (0.33.6)
Requirement already satisfied: tensorboard<3,>=2.3.0 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (2.3.0)
Requirement already satisfied: astunparse==1.6.3 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (1.6.3)
Requirement already satisfied: termcolor>=1.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (1.1.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (3.3.0)
Requirement already satisfied: google-pasta>=0.1.8 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (0.2.0)
Requirement already satisfied: keras-preprocessing<1.2,>=1.1.1 in /opt/anaconda3/lib/python3.7/site-packages (from tensorflow>=2.0.0->turicreate) (1.1.2)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.9.1->turicreate) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.9.1->turicreate) (2019.9.11)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=2.9.1->turicreate) (1.24.2)
Requirement already satisfied: numba>=0.32 in /opt/anaconda3/lib/python3.7/site-packages (from resampy==0.2.1->turicreate) (0.45.1)
Requirement already satisfied: setuptools in /opt/anaconda3/lib/python3.7/site-packages (from protobuf>=3.1.0->coremltools==3.3->turicreate) (41.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /opt/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (0.16.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /opt/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (1.7.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /opt/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (0.4.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /opt/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (1.20.1)
Requirement already satisfied: markdown>=2.6.8 in /opt/anaconda3/lib/python3.7/site-packages (from tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (3.2.2)
Requirement already satisfied: llvmlite>=0.29.0dev0 in /opt/anaconda3/lib/python3.7/site-packages (from numba>=0.32->resampy==0.2.1->turicreate) (0.29.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /opt/anaconda3/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (1.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (4.1.1)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.5" in /opt/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (4.6)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /opt/anaconda3/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (0.23)
Requirement already satisfied: oauthlib>=3.0.0 in /opt/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (3.1.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /opt/anaconda3/lib/python3.7/site-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (0.4.8)
Requirement already satisfied: zipp>=0.5 in /opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (0.6.0)
Requirement already satisfied: more-itertools in /opt/anaconda3/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<3,>=2.3.0->tensorflow>=2.0.0->turicreate) (7.2.0)
Building wheels for collected packages: prettytable, resampy
  Building wheel for prettytable (setup.py) ... done
  Created wheel for prettytable: filename=prettytable-0.7.2-cp37-none-any.whl size=13700 sha256=caeef982256df121678f1049153799628d1745fa931e3845ce2c552d6a95c26b
  Stored in directory: /Users/chriskamerin/Library/Caches/pip/wheels/80/34/1c/3967380d9676d162cb59513bd9dc862d0584e045a162095606
  Building wheel for resampy (setup.py) ... done
  Created wheel for resampy: filename=resampy-0.2.1-cp37-none-any.whl size=320849 sha256=2e967a4f6c4d10b00180be24cda85703d12a23a0c0bfd46e387ccc5ea510f931
  Stored in directory: /Users/chriskamerin/Library/Caches/pip/wheels/ff/4f/ed/2e6c676c23efe5394bb40ade50662e90eb46e29b48324c5f9b
Successfully built prettytable resampy
Installing collected packages: coremltools, prettytable, resampy, turicreate
Successfully installed coremltools-3.3 prettytable-0.7.2 resampy-0.2.1 turicreate-6.3
Note: you may need to restart the kernel to use updated packages.

In [183]:
import turicreate
train_data = turicreate.SFrame(user_df)

In [191]:
popularity_model = turicreate.popularity_recommender.create(train_data, user_id='user_id', item_id='feature_id', target='features')

Preparing data set.

    Data has 3996 observations with 999 users and 4 items.

    Data prepared in: 0.016123s

3996 observations to process; with 4 unique items.

In [192]:
popularity_recomm = popularity_model.recommend(users=[1,2,3,4,5],k=1)
popularity_recomm.print_rows(num_rows=25)

+---------+------------+-------+------+
| user_id | feature_id | score | rank |
+---------+------------+-------+------+
+---------+------------+-------+------+
[0 rows x 4 columns]

In [195]:
item_sim_model = turicreate.item_similarity_recommender.create(train_data, user_id='user_id', item_id='feature_id', target='features', similarity_type='cosine')

#Making recommendations
item_sim_recomm = item_sim_model.recommend(users=[1,2,3,4,5],k=5)
item_sim_recomm.print_rows(num_rows=25)

Preparing data set.

    Data has 3996 observations with 999 users and 4 items.

    Data prepared in: 0.015423s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

+---------+------------+-------+------+
| user_id | feature_id | score | rank |
+---------+------------+-------+------+
+---------+------------+-------+------+
[0 rows x 4 columns]

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 9.2ms                          | 100        |

In [ ]:
#Model Cant make recommendations because everything is randomely filled. There are no patterns

#This function will fill missing values for the feature measurements with item as the user. User is item, ratings are feature scores

class MF():

    # Initializing the user-movie rating matrix, no. of latent features, alpha and beta.
    def __init__(self, R, K, alpha, beta, iterations):
        self.R = R
        self.num_users, self.num_items = R.shape
        self.K = K
        self.alpha = alpha
        self.beta = beta
        self.iterations = iterations

    # Initializing user-feature and movie-feature matrix 
    def train(self):
        self.P = np.random.normal(scale=1./self.K, size=(self.num_users, self.K))
        self.Q = np.random.normal(scale=1./self.K, size=(self.num_items, self.K))

        # Initializing the bias terms
        self.b_u = np.zeros(self.num_users)
        self.b_i = np.zeros(self.num_items)
        self.b = np.mean(self.R[np.where(self.R != 0)])

        # List of training samples
        self.samples = [
        (i, j, self.R[i, j])
        for i in range(self.num_users)
        for j in range(self.num_items)
        if self.R[i, j] > 0
        ]

        # Stochastic gradient descent for given number of iterations
        training_process = []
        for i in range(self.iterations):
        np.random.shuffle(self.samples)
        self.sgd()
        mse = self.mse()
        training_process.append((i, mse))
        if (i+1) % 20 == 0:
            print("Iteration: %d ; error = %.4f" % (i+1, mse))

        return training_process

    # Computing total mean squared error
    def mse(self):
        xs, ys = self.R.nonzero()
        predicted = self.full_matrix()
        error = 0
        for x, y in zip(xs, ys):
            error += pow(self.R[x, y] - predicted[x, y], 2)
        return np.sqrt(error)

    # Stochastic gradient descent to get optimized P and Q matrix
    def sgd(self):
        for i, j, r in self.samples:
            prediction = self.get_rating(i, j)
            e = (r - prediction)

            self.b_u[i] += self.alpha * (e - self.beta * self.b_u[i])
            self.b_i[j] += self.alpha * (e - self.beta * self.b_i[j])

            self.P[i, :] += self.alpha * (e * self.Q[j, :] - self.beta * self.P[i,:])
            self.Q[j, :] += self.alpha * (e * self.P[i, :] - self.beta * self.Q[j,:])

    # Ratings for user i and moive j
    def get_rating(self, i, j):
        prediction = self.b + self.b_u[i] + self.b_i[j] + self.P[i, :].dot(self.Q[j, :].T)
        return prediction

    # Full user-movie rating matrix
    def full_matrix(self):
        return mf.b + mf.b_u[:,np.newaxis] + mf.b_i[np.newaxis:,] + mf.P.dot(mf.Q.T)

In [199]:
df=pd.read_csv('/Users/chriskamerin/Desktop/Shopping_Recommender_System/headphones.csv')

In [151]:
df1 = pd.DataFrame(columns=['user_id', 'game_use', 'rec_use', 'studio_use', 'exercise_use',
       'office_use', 'podcast_use', 'travel_use', 'other_use',
       'sound_quality_importance', 'positional_importance', 'loud_importance',
       'mic_importance', 'wireless_importance', 'in_ear_importance',
       'on_ear_importance', 'over_ear_importance', 'no_pref_oninover',
       'price_sensitivity', 'min_price', 'max_price', 'headphone_name',
       'price', 'attached_mic', 'recording_quality', 'noise_handling',
       'Impedance', 'sensitivity(dbv)', 'accuracy',
       'weighted_harmonic_distortion', 'soundstage', 'imaging',
       'noise_isolation', 'wireless', 'over_ear_style', 'on_ear_style',
       'in_ear_style', 'open_back', 'close_back', 'semiclosed_back'])

In [152]:
df1['user_id']=range(0,10000)

In [153]:
df1[['game_use', 'rec_use', 'studio_use', 'exercise_use',
       'office_use', 'podcast_use', 'travel_use', 'other_use']] = np.random.choice([0,1],size=(10000,8),replace=True,p=[.6,.4])

In [154]:
df1['other_use'] = np.random.choice([0,1],size=(10000),replace=True,p=[.9,.1])

In [155]:
df1[['sound_quality_importance']] = np.random.choice([6,7,8,9,10],size=(10000),replace=True,p=[.1,.1,.3,.3,.2])

In [156]:
df1[['no_pref_oninover','in_ear_importance',
       'on_ear_importance', 'over_ear_importance']] = np.random.choice([0,1],size=(10000,4),replace=True)

In [157]:
df1[[ 'positional_importance', 'loud_importance',
       'mic_importance', 'wireless_importance',
       'price_sensitivity']] = np.random.choice([0,1,2,3,4,5,6,7,8,9.10],size=(10000,5),replace=True)

In [158]:
prices=[]
for i in df1["price_sensitivity"]:
    prices.append(1000/(i+1))

In [159]:
df1['max_price']=prices

In [160]:
df1['headphone_name']=range(0,10000)

In [161]:
df1[['price']]=np.random.choice([50,100,200,300,400],size=(10000,1),replace=True,p=[.3,.3,.2,.15,.05])

In [162]:
df1[[ 'attached_mic', 'recording_quality', 'noise_handling',
       'Impedance', 'sensitivity(dbv)', 'accuracy',
       'weighted_harmonic_distortion', 'soundstage', 'imaging',
       'noise_isolation', 'wireless', 'over_ear_style', 'on_ear_style',
       'in_ear_style', 'open_back', 'close_back', 'semiclosed_back']] = np.random.choice([1],size=(10000,17),replace=True)

In [163]:
df1[[ 'attached_mic']] = np.random.choice([0,1],size=(10000),replace=True,p=[.8,.2])
df1['noise_cancel_importance'] = np.random.choice([2,3,4,5,6,7,8,9,10],size=(10000),replace=True)

In [164]:
miclist=[]
for i in df1['attached_mic']:
    miclist.append(i)

In [165]:
gamelist=[]
for i in df1['game_use']:
    gamelist.append(i)

In [166]:
for i in range(0,10000):
    if df1['exercise_use'][i] >0: 
         df1['exercise_use'][i]=df1['exercise_use'][i]-df1['game_use'][i]
    elif df1['studio_use'][i] >0: 
         df1['studio_use'][i]=df1['studio_use'][i]-df1['exercise_use'][i]   
    elif df1['office_use'][i] >0: 
         df1['office_use'][i]=df1['office_use'][i]-df1['game_use'][i]

In [167]:
for i in range(0,10000):
    if df1['game_use'][i] >0:
        if df1['mic_importance'][i] < 5:
             df1['mic_importance'][i]=df1['mic_importance'][i]+5

In [168]:
for i in range(0,10000):
    if df1['game_use'][i] >0:
        if df1['positional_importance'][i] < 7:
             df1['positional_importance'][i]=np.random.choice([7,8,9,10],replace=True)

In [169]:
for i in range(0,10000):
    if df1['exercise_use'][i] >0:
        if df1['in_ear_importance'][i] < 1:
            df1['in_ear_importance'][i]=df1['in_ear_importance'][i]+1
        elif df1['in_ear_importance'][i] > 1: 
            df1['in_ear_importance'][i]=1

In [170]:
for i in range(0,10000):
    if df1['travel_use'][i] >0:
        if df1['noise_cancel_importance'][i] < 5:
            df1['noise_cancel_importance'][i]=df1['noise_cancel_importance'][i]+5

In [171]:
for i in range(0,10000):
    if df1['no_pref_oninover'][i] >0:
        df1['on_ear_importance'][i] = 0
        df1['in_ear_importance'][i] = 0
        df1['over_ear_importance'][i] = 0

In [172]:
for i in range(0,10000):
    if df1['exercise_use'][i] >0: 
        df1['exercise_use'][i]=df1['exercise_use'][i]-df1['game_use'][i]

In [173]:
for i in range(0,10000):
    x = round(np.random.uniform(.20, .70),2)
    miclist[i]=miclist[i]*x

In [174]:
for i in range(0,10000):
    if df1['attached_mic'][i] < 1:
        df1['noise_handling'][i]=0

In [175]:
df1['recording_quality'] = miclist

In [176]:
df1[[ 'over_ear_style', 'on_ear_style',
       'in_ear_style']] = np.random.choice([0,1],size=(10000,3),replace=True)

In [177]:
df1['close_back'] = np.random.choice([0,1],size=(10000),replace=True,p=(.3,.7))

In [178]:
df1[[ 'open_back', 'semiclosed_back']] = np.random.choice([0,1],size=(10000,2),replace=True)

In [179]:
df1

,user_id,game_use,rec_use,studio_use,exercise_use,office_use,podcast_use,travel_use,other_use,sound_quality_importance,...,imaging,noise_isolation,wireless,over_ear_style,on_ear_style,in_ear_style,open_back,close_back,semiclosed_back,noise_cancel_importance
0,0,0,1,0,0,1,0,0,0,7,...,1,1,1,0,1,0,0,1,0,4
1,1,1,0,0,0,0,0,1,0,9,...,1,1,1,1,1,1,1,1,0,9
2,2,0,1,1,0,0,0,0,0,9,...,1,1,1,0,0,0,1,0,0,9
3,3,0,1,0,0,0,1,0,1,8,...,1,1,1,0,1,1,1,0,1,6
4,4,1,0,0,0,1,1,0,0,9,...,1,1,1,0,1,0,1,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,0,0,0,0,0,0,0,0,9,...,1,1,1,1,1,0,0,1,0,7
9996,9996,0,0,1,1,0,0,0,1,10,...,1,1,1,1,1,1,0,0,0,9
9997,9997,1,0,0,0,0,1,1,0,9,...,1,1,1,1,0,0,0,1,1,8
9998,9998,1,0,0,0,1,1,0,0,9,...,1,1,1,1,0,0,0,0,0,10
9999,9999,0,0,1,1,0,1,0,0,10,...,1,1,1,1,1,0,1,0,0,8

In [180]:
df1['wireless']= np.random.choice([0,np.random.uniform(.3,.8)],size=(10000),replace=True,p=[.7,.3])

In [181]:
for i in range(0,10000):
    if df1['wireless'][i] > 0:
        df1['wireless'][i]= np.random.uniform(.3,.8)

In [182]:
for i in range(0,10000):
    if df1['over_ear_style'][i] >0:
        df1['on_ear_style'][i] = 0
        df1['in_ear_style'][i] = 0

In [183]:
for i in range(0,10000):
    if df1['in_ear_style'][i] >0:
        df1['on_ear_style'][i] = 0

In [184]:
for i in range(0,10000):
    if df1['close_back'][i] >0:
        df1['open_back'][i] = 0
        df1['semiclosed_back'][i] = 0

In [185]:
for i in range(0,10000):
    if df1['open_back'][i] >0:
        df1['semiclosed_back'][i] = 0
        df1['noise_isolation'][i] = np.random.uniform(.10,.25)

In [186]:
for i in range(0,10000):
    if df1['semiclosed_back'][i] >0:
         df1['noise_isolation'][i] = np.random.uniform(.20,.35)

In [187]:
df1[[ 'noise_handling','accuracy',
       'weighted_harmonic_distortion', 'soundstage', 'imaging',
       'noise_isolation']] = np.random.uniform(.25,1,size=(10000,6))

In [188]:
df1[ 'sensitivity(dbv)'] = np.random.uniform(90,130,size=(10000))
df1[ 'Impedance'] = np.random.choice([10,20,30,40,50,100,120,150,180,300],size=(10000),p=[.12,.15,.15,.12,.12,.12,.12,.04,.04,.02])

In [189]:
df1['min_price']=np.random.choice([0],size=(10000))

In [190]:
df1 = df1[['user_id', 'game_use', 'rec_use', 'studio_use', 'exercise_use',
       'office_use', 'podcast_use', 'travel_use', 'other_use',
       'sound_quality_importance', 'positional_importance', 'loud_importance',
       'mic_importance', 'wireless_importance','noise_cancel_importance' ,'in_ear_importance',
       'on_ear_importance', 'over_ear_importance', 'no_pref_oninover',
       'price_sensitivity', 'min_price', 'max_price', 'headphone_name',
       'price', 'attached_mic', 'recording_quality', 'noise_handling',
       'Impedance', 'sensitivity(dbv)', 'accuracy',
       'weighted_harmonic_distortion', 'soundstage', 'imaging',
       'noise_isolation', 'wireless', 'over_ear_style', 'on_ear_style',
       'in_ear_style', 'open_back', 'close_back', 'semiclosed_back']]

In [191]:
df1.to_csv("/Users/chriskamerin/Desktop/Shopping_Recommender_System/df2.csv")